# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

config/notes.txt


# Logs
logs/
*.log

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# MongoDB Key files (si usaste Firebase antes)
firebase-key.json
